ul{
    list-style: none;
}
li{
    list-style: none;
}
.baseballList{
    padding-left: 40px;

}
.hotelTable {
    border: 1px solid black;        /* solid を忘れずに */
    border-collapse: collapse;      /* 表の線を重ねないように */
    margin-top: 20px;
    width: 50%;
        table-layout: fixed;   
}

.hotelTable td {
    border: 1px solid black;        /* 各セルに線を表示 */
    padding: 8px;
    text-align: center;
     word-wrap: break-word;     
}
tr:nth-child(odd){
    background-color: rgb(229, 243, 243);
}
tr:nth-child(even){
    background-color: rgb(220, 234, 247);
}
